.App {
  text-align: center;
}

.screen {
  margin: 0;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.middle{
  margin: 0;
  width: 40vw;
}

.end{
  margin: 0;
  width: 30vw;
}

@media all and (max-width:500px) {
  .nav{
    width: 10vw;
  }
  .middle{
    width: 90vw;
  }
  .right {
    display: none;
  }
}

